<!DOCTYPE html>
<html>
<head>
    <title>Saloon</title>
    <link rel = "icon" href ="favicon.ico" 
        type = "image/x-icon">
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>


<style>
    .top-navbar{
    position: relative;
    z-index: 10;
}

.top-navbar .navbar{
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    transition: height .3s ease-out, background .3s ease-out, box-shadow .3s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 100;
}
.top-navbar .navbar-light .navbar-nav .nav-link{
    color: #010101;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 20px;
}

.top-navbar .navbar-light .navbar-nav .nav-item .nav-link:hover{
    background: #d4061e;
    color: #ffffff;
}
.top-navbar .navbar-light .navbar-nav .nav-item.active .nav-link{
    background: #d4061e;
    color: #ffffff;
    border-radius: 10px;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
    border: none;
     box-shadow: 20px 50px 60px rgba(0,0,0,0.5);
}

.navbar-expand-lg .navbar-nav .dropdown-menu a.dropdown-item:hover{
    background: #d4061e;
    color: #ffffff;
}
.navbar-light .navbar-toggler:hover{
    background: #d4061e;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }
 .bg-f{
    background-image: url("footer.jpg");
    background-attachment: scroll;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    background-origin: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg-f::before {
    background: #010101;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    opacity: 0.8;
}
.footer-area .container{
    position: relative;
    z-index: 1;
}
.footer-area h3{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    border-bottom: 1px dashed rgba(207, 166, 113, 0.5);
    margin-bottom: 10px;
}
.footer-area p{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0;
    padding-bottom: 10px;
}
.footer-area p.lead{
    font-size: 19px;
    color: #ffffff;
    margin-bottom: 15px;
}
.footer-area p.lead a{
    color: #ffffff;
    margin-bottom: 15px;
}
.footer-area p.lead a:hover{
    color: #d0a772;
}
.footer-area p a{
    font-size: 18px;
    color: #ffffff;
}
.footer-area p a:hover{
    color: #d0a772;
}
.banner-area {
  min-height: 500px;
  background-image: url("parallax_20.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }
</style>    
</head>
<body >
    {{> header}}
    <section class="banner-area d-flex align-items-center">
    </section>
    <br><br><br><br>
    <h5 style="text-align: center;">LET'S MAKE AN APPOINTMENT FOR YOUR LIFE</h5>
<br>
<h1 style="text-align:center;">Book now</h1>
<h1 style="text-align:center;">_________</h1>
<br><br>
<h1 style="color: #D5BA83; text-align-last: center;">Opening Time</h1><br><br>
<h3 style="text-align-last: center;">Monday ------------------------------------------------- 9AM-6PM</h3>
<h3 style="text-align-last: center;">Tuesday ------------------------------------------------ 9AM-6PM</h3>
<h3 style="text-align-last: center;">Wednesday ---------------------------------------------- 9AM-6PM</h3>
<h3 style="text-align-last: center;">Thursday ----------------------------------------------- 9AM-6PM</h3>
<h3 style="text-align-last: center;">Friday ------------------------------------------------- 9AM-6PM</h3>
<h3 style="text-align-last: center;">Saturday ----------------------------------------------- 9AM-6PM</h3>
<h3 style="text-align-last: center;">Sunday ------------------------------------------------- 9AM-6PM</h3><br><br>
<div class="container" style="text-align-last: center;">
<div class="contact_form">
                                <div id="message"></div>
                                <form id="contactform" class="row" action="contact.php" name="contactform" method="post">
                                            <input type="text" name="first_name" id="first_name" class="form-control" placeholder="First Name"><br><br>
                                            <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name"><br><br>
                                            <input type="email" name="email" id="email" class="form-control" placeholder="Your Email"><br><br>
                                            <input type="text" name="phone" id="phone" class="form-control" placeholder="Your Phone"><br><br>
                                            <label class="sr-only">Select Time</label>
                                            <select name="select_service" id="select_service" class="selectpicker form-control" data-style="btn-white">
                                                <option value="selecttime">Select Time</option>
                                                <option value="Weekdays">Weekdays</option>
                                                <option value="Weekend">Weekend</option>
                                            </select><br><br>
                                            <textarea class="form-control" name="comments" id="comments" rows="6" placeholder="Give us more details.."></textarea><br><br><br><br>
                                            <button type="submit" value="SEND" id="submit" class="btn btn-dark btn-radius btn-brd grd1 btn-block subt">Get Appointment</button><br><br>
                                </form>
                            </div>
                        </div>
                        <br><br>
                        <br><br><br><br>
<div class="container">
  <ul class="pagination justify-content-end">
    <li class="page-item"><a class="page-link" href="Our-Services.html">Previous</a></li>
    <li class="page-item"><a class="page-link" href="index.html">1</a></li>
    <li class="page-item"><a class="page-link" href="aboutus.html">2</a></li>
    <li class="page-item"><a class="page-link" href="Our-Services.html">3</a></li>
    <li class="page-item"><a class="page-link" href="Our-barbers.html">4</a></li>
    <li class="page-item"><a class="page-link" href="appointment.html">5</a></li>
    <li class="page-item"><a class="page-link" href="contact.html">6</a></li>
    <li class="page-item"><a class="page-link" href="contact.html">Next</a></li>
  </ul>
</div>
<div class="container">
  <span class="badge badge-pill badge-danger" data-toggle="tooltip" title="You are in Appointment">Appointment</span>
</div>
<br><br>
<i class='fab fa-facebook-f' style='color: blue'></i>
<i class='fab fa-google-plus-g' style='color: red'></i>
<i class='fab fa-linkedin' style='color:darkblue'> </i>
<br><br>
<div class="container">                 
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
    <li class="breadcrumb-item"><a href="aboutus.html">About Us</a></li>
    <li class="breadcrumb-item"><a href="Our-Services.html">Our Services</a></li>
    <li class="breadcrumb-item"><a href="Our-barbers.html">Our Barbers</a></li>
    <li class="breadcrumb-item"><a href="appointment.html">Appointment</a></li>

  </ul>
</div>

{{> footer}}
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
});
</script>
<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
</script>
</body>
</html>